<!-- ko if: instantPurchaseAvailable() -->
<div
    class="cs-offcanvas cs-offcanvas--side_right cs-offcanvas--instant-purchase"
    data-bind="mageInit: {
        'mgsOffcanvas':{
            'className': 'cs-offcanvas--instant-purchase',
            'closeButtonClassName': 'cs-instant-purchase__close',
            'offcanvasShowTriggerEvent': 'instantPurchaseOffcanvasShow',
            'offcanvasHideTriggerEvent': 'instantPurchaseOffcanvasHide'
    }}
">
    <div class="cs-offcanvas__overlay overlay"></div>
    <div class="cs-offcanvas__drawer drawer">
        <div class="cs-instant-purchase">
            <div class="cs-instant-purchase__title-wrapper">
                <div class="cs-instant-purchase__close" data-action="close" data-bind="attr: { title: $t('Close') }">
                    <span class="cs-instant-purchase__close-icon"></span>
                </div>
                <span class="cs-instant-purchase__title" data-bind="text: text.offcanvasTitle"></span>
            </div>

            <if args="quoteItems()">
                <div class="cs-instant-purchase__products">
                    <!-- ko foreach: getRegion('products') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>

                <div class="cs-instant-purchase__summary">
                    <if args="quoteTotals()">
                        <div class="cs-instant-purchase__totals">
                            <span class="cs-instant-purchase__totals-text" data-bind="i18n: text.totalsLabel"></span>
                            <span class="cs-instant-purchase__totals-amount"data-bind="text: formatPrice(quoteTotals().base_grand_total)"></span>
                        </div>
                    </if>
                    <div
                        class="cs-instant-purchase__order-details"
                        data-bind="css: {'cs-instant-purchase__order-details--show': showOrderDetails()}">

                        <div
                            class="cs-instant-purchase__order-details-toggle"
                            data-bind="
                                click: toggleOrderDetails,
                                i18n: showOrderDetails() ? $t(text.hideOrderDetails) : $t(text.showOrderDetails)">
                        </div>


                        <div class="cs-instant-purchase__order-details-box">
                            <span class="cs-instant-purchase__order-details-label" data-bind="i18n: 'Shipping address'"></span>
                            <select
                                class="cs-select"
                                name="shipping_address"
                                data-bind="
                                    event:{ change: (obj, event) => handleSelectChange(event, selectedShippingAddress) },
                                    value: selectedShippingAddress,
                                    options: customerAddresses(),
                                    optionsText: (address) => formatAddressLabel(address)
                                ">
                            </select>
                        </div>
                        <div class="cs-instant-purchase__order-details-box">
                            <span class="cs-instant-purchase__order-details-label" data-bind="i18n: 'Billing address'"></span>
                            <select
                                class="cs-select"
                                name="billing_address"
                                data-bind="
                                    event:{ change: (obj, event) => handleSelectChange(event, selectedBillingAddress) },
                                    value: selectedBillingAddress,
                                    options: customerAddresses(),
                                    optionsText: (address) => formatAddressLabel(address)
                                ">
                            </select>
                        </div>
                        <div class="cs-instant-purchase__order-details-box">
                            <span class="cs-instant-purchase__order-details-label" data-bind="i18n: 'Shipping method'"></span>
                            <select
                                class="cs-select"
                                name="shipping_method"
                                data-bind="
                                    event:{ change: (obj, event) => handleSelectChange(event, selectedShippingMethod) },
                                    value: selectedShippingMethod,
                                    options: availableShippingMethods(),
                                    optionsText: (shippingMethod) => formatShippingMethodLabel(shippingMethod)
                                ">
                            </select>
                        </div>
                        <div class="cs-instant-purchase__order-details-box">
                            <span class="cs-instant-purchase__order-details-label" data-bind="i18n: 'Payment method'"></span>
                            <div class="cs-instant-purchase__order-details-text" data-bind="i18n: text.defaultPaymentMethodName"></div>
                        </div>
                    </div>
                </div>
                <div class="cs-instant-purchase__actions">
                    <button
                        type="button"
                        class="cs-instant-purchase__place-order"
                        data-bind="attr: { title: $t(text.placeOrderButtonLabel) }, click: placeOrder">
                        <span data-bind="text: text.placeOrderButtonLabel"></span>
                        <!-- ko if: placeOrderButtonIcon -->
                            <img class="inline-svg cs-minicart__button-checkout-icon" data-bind="attr: { src: requirejs.toUrl(placeOrderButtonIcon) }"/>
                        <!-- /ko -->
                    </button>
                </div>
            </if>
        </div>
    </div>
</div>
<!-- /ko -->
